.feedback{
    padding: 94px 0;
    background: url("../img/feedback-bg.jpg") no-repeat center right -60%;
}


.form{
    max-width: 575px;
    margin-bottom: 31px;
}

.form__title{
    font-size: 24px;
    line-height: 35px;
    font-family: 'Museo Sans 700 Bold', sans-serif;
    margin-bottom: 45px;
}

.form__subtitle{
    margin-bottom: 50px;
    display: block;
}

.form__input{
    width: 270px;
    margin-bottom: 30px;
}

.form__input:first-child{
margin-right: 30px;
}

.form__button{
    padding: 28px;
    display: block;
    width: 100%;
    font-size: 16px;
}